#
# description: Configuraciones que se aplican sobre la carpeta del proyecto y normaliza los saltos de linea de cada archivo
# author: Rafael Cetina
# creation: Date 13 de Diciembre del 2021
#

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf
